<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				انتخاب درگاه پرداختی
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="card product" style="width: 18rem;">
							<form action="/payment/start/{{order.hash}}" method="post">
								<input type="hidden" name="gateway" value="saman" />
								<a onclick="this.parentNode.submit();">
									<img style="width: 320px;" src="/assets/images/saman.jpg" class="card-img-top" alt="..." />
								</a>
							</form>
						</div>
						<div class="col">
							<form action="/payment/start/{{order.hash}}" method="post">
								<input type="hidden" name="gateway" value="zarinpal" />
								<a onclick="this.parentNode.submit();">
									<img style="width: 320px;" src="/assets/images/zarinpal.jpg" class="card-img-top" alt="..." />
								</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
