<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header">
				انتخاب درگاه پرداختی
			</div>
		
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="card product" style="width: 18rem;">
							<a href="/payment/start/saman/{{order.hash}}" class="btn btn-outline-success btn-block btn-icon">
								<img  src="/assets/images/saman.jpg" class="card-img-top" alt="..." />
							</a>
						</div>
					</div>
					<div class="col">
						<div class="card product" style="width: 18rem;">
							<div class="card-body">
								<a href="/payment/start/zarinpal/{{order.hash}}" class="btn btn-outline-success btn-block btn-icon">
									<img src="/assets/images/zarinpal.jpg" class="card-img-top" alt="..." />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
